* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter';
}

.container {
    display: flex;
}

.work-heading {
    padding: 20px;
}

.work-heading h1 {
    font-size: 30px;
    font-weight: 600;
    color: #09182B;
}

.line {
    width: 1110px;
    height: 1px;
    background-color: #000000;
    opacity: 30%;
}

.main-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.worker-image {
    display: flex;
    align-items: center;
    gap: 8px;
}

.worker-image img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.worker-name h1 {
    font-size: 20px;
    font-weight: 600;
    color: #000;
}

.worker-name p {
    font-size: 15px;
    font-weight: 400;
    color: #000;
}

.select-date {
    position: relative;
}

#date {
    position: absolute;
    top: 12%;
    right: 5%;
    cursor: pointer;
}

.select-date input {
    font-family: 'Inter';
    width: 248px;
    height: 50px;
    background-color: #fff;
    border-radius: 8px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 20px;
    color: #A2A1A8;
    font-size: 20px;
    font-weight: 300;
}

.card-section {
    width: 1080px;
    height: 724px;
    background-color: rgba(227, 227, 227, 0.15);
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
}

.box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr .5fr;
    align-items: center;
    width: 1032px;
    height: 69px;
    background-color: #EAEAEA;
    padding: 20px;
    border-radius: 8px;
}

.white-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr .5fr;
    align-items: center;
    width: 1032px;
    height: 69px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin: 10px 0px;
}

.gray-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr .5fr;
    align-items: center;
    width: 1032px;
    height: 69px;
    background-color: rgba(234, 234, 234, 0.5);
    padding: 20px;
    border-radius: 8px;
    margin: 10px 0px;
}

.box h1 {
    font-size: 16px;
    font-weight: bold;
    color: #09182B;
}

.next-page {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

.next-page i{
    font-size: 20px;
    cursor: pointer;
}

.next-page button {
    width: 31px;
    height: 31px;
    border-radius: 8px;
    background-color: rgba(224, 224, 224, 0.4);
    border: 1px solid rgba(224, 224, 224, 0.4);
}

.next-page button:hover {
    background-color: #0E9EE7;
    color: #fff;
    cursor: pointer;
    transition: .3s;
}