* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter';
}

.container {
    display: flex;
}

.menu-btn {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

.toggleMenuBtn {
    width: 30px;
    height: 26px;
    cursor: pointer;
}

.heading h1 {
    font-size: 30px;
    font-weight: 600;
    color: #09182B;
}

.line {
    width: 1100px;
    height: 1px;
    background-color: #000000;
    opacity: 30%;
}

.task-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.task-image {
    display: flex;
    align-items: center;
    gap: 10px;
}

.task-image img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.task-name h1 {
    font-size: 20px;
    font-weight: 600;
}

.task-name p {
    font-size: 16px;
    font-weight: 400;
}

.search {
    position: relative;
}

.search-input {
    width: 262px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid rgba(227, 227, 227, 0.3);
    outline: none;
    padding: 20px 40px;
    font-size: 16px;
}

.date {
    width: 248px;
    height: 50px;
    border-radius: 8px;
    border: 2px solid rgba(227, 227, 227, 0.3);
    outline: none;
    padding: 20px;
    font-size: 16px;
    color: #A2A1A8;
}

.search i {
    position: absolute;
    font-size: 20px;
    left: 15px;
    top: 22%;
    color: #c7c7c7;
}

.select-date {
    position: absolute;
    right: 20px;
    top: 12%;
    cursor: pointer;
}

.card-section {
    width: 1080px;
    height: 724px;
    margin: 10px;
    background-color: rgba(227, 227, 227, 0.15);
    border-radius: 20px;
    padding: 20px;
}

.box {
    display: grid;
    grid-template-columns: 1fr 2fr 1.5fr 1fr 1fr 1fr 1.2fr 1.2fr;
    align-items: center;
    width: 1032px;
    height: 69px;
    background-color: #EAEAEA;
    padding: 0px 20px;
    border-radius: 8px;
}

.box h1 {
    font-size: 16px;
    font-weight: 600;
    color: #09182B;
}

.Assign {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.priority {
    display: flex;
    align-items: center;
    gap: 5px;
}

.priority img {
    width: 13px;
    height: 19px;
}

.card-section p {
    font-size: 15px;
    font-weight: 500;
    color: #09182B;
}


.white-box {
    display: grid;
    grid-template-columns: 1fr 2fr 1.5fr 1fr 1fr 1fr 1.2fr 1.2fr;
    align-items: center;
    width: 1032px;
    height: 69px;
    background-color: #fff;
    padding: 0px 20px;
    border-radius: 8px;
    margin: 10px 0px;
}

.gray-box {
    display: grid;
    grid-template-columns: 1fr 2fr 1.5fr 1fr 1fr 1fr 1.2fr 1.2fr;
    align-items: center;
    width: 1032px;
    height: 69px;
    background-color: rgba(227, 227, 227, 0.3);
    padding: 0px 20px;
    border-radius: 8px;
    margin: 10px 0px;
}

.complete {
    width: 100px;
    height: 28px;
    border-radius: 4px;
    background-color: #00B172;
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    padding: 4px;
}

.progress {
    width: 100px;
    height: 28px;
    border-radius: 4px;
    background-color: #0E9EE7;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    padding: 4px;
}

.pending {
    width: 100px;
    height: 28px;
    border-radius: 4px;
    background-color: #09182B;
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    padding: 4px;
}

.task-status {
    width: 114px;
    height: 28px;
    border-radius: 4px;
    background-color: #0E9EE7;
    color: #fff;
    padding: 5px;
    text-align: right;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

.task-icon {
    position: relative;
}

.task-icon img {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 25%;
    left: 6px;
}

/* More filter */


.more-card {
    display: flex;
    position: relative;
    gap: 5px;
}

.more-card h2 {
    font-size: 15px;
    font-weight: 500;
    color: #0E9EE7;
    cursor: pointer;
}

.popup-card {
    display: none;
    position: absolute;
    width: 480px;
    height: 280px;
    border: 1px solid #0E9EE7;
    background-color: #fff;
    padding: 40px 20px 0px 20px;
    border-radius: 12px;
    z-index: 100;
}

.popup-card h3 {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    padding: 0px 5px;
}

.popup-card h4 {
    width: 436px;
    font-size: 24px;
    font-weight: 300;
    color: #09182B;
    padding: 5px;
}

.cancel-button {
    text-align: end;
    margin-top: 20px;
}

.cancel-button button {
    width: 166px;
    height: 50px;
    background-color: #0E9EE7;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

.next-page {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

.next-page i{
    font-size: 20px;
    cursor: pointer;
}

.next-page button {
    width: 31px;
    height: 31px;
    border-radius: 8px;
    background-color: rgba(224, 224, 224, 0.4);
    border: 1px solid rgba(224, 224, 224, 0.4);
}

.next-page button:hover {
    background-color: #0E9EE7;
    color: #fff;
    cursor: pointer;
    transition: .3s;
}

/* Task  Management*/

.hidden{
    display: none;
}

.task-heading {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

.arrow i {
    width: 34px;
    height: 30px;
    background-color: #0E9EE7;
    color: #fff;
    padding: 5px;
    font-size: 20px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
}

.task-heading h1 {
    font-size: 30px;
    font-weight: 600;
    color: #09182B;
}

.task-line {
    width: 1110px;
    height: 1px;
    background-color: #000000;
    opacity: 30%;
}

.task-card {
    width: 1070px;
    height: 875px;
    border-radius: 20px;
    background-color: #FCFCFC;
    border: 1px solid #F5F5F5;
    margin: 20px;
    padding: 10px 15px;
}

.board-heading {
    display: flex;
    justify-content: space-between;
}

.board-heading h2 {
    font-size: 27px;
    font-weight: 500;
    color: #000000;
    padding-top: 10px;
}

.boxes-heading h3{
    font-size: 14px;
    font-weight: 600;
    color: #000000;
}

.timer-button {
    position: relative;
}

.timer-button img {
    position: absolute;
    width: 34px;
    height: 34px;
    top: 10%;
    left: 12px;
}

.timer-button button {
    width: 177px;
    height: 50px;
    background-color: #0E9EE7;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 600;
    padding-left: 20px;
    cursor: pointer;
}

.cards {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.boxes {
    padding: 20px;
    width: 329px;
    height: 780px;
    border-radius: 9px;
    background-color: #EEF2F5;
    margin-top: 20px;
}

.boxes-heading {
    display: flex;
    justify-content: space-between;
}

.plus {
    position: relative;
}

.plus i {
    margin-top: 5px;
    cursor: pointer;
    color: #09182B;
    font-weight: 300;
    font-size: 18px;
}

.white-card {
    width: 285px;
    height: 189px;
    border-radius: 10px;
    background-color: #ffff;
    margin: 20px 0px 10px 0px;
}


.space-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.design-system {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}

.green-ball {
    width: 8px;
    height: 8px;
    background-color: #40A737;
    border-radius: 50%;
}

.blue-ball {
    width: 8px;
    height: 8px;
    background-color: #0E9EE7;
    border-radius: 50%;
}

.red-ball {
    width: 8px;
    height: 8px;
    background-color: #FF2473;
    border-radius: 50%;
}

.design-system p {
    font-size: 7px;
    font-weight: 500;
    color: #707070;
}

.dots h2 {
    cursor: pointer;
    user-select: none;
}


.hero-heading {
    padding: 0px 20px 20px 20px;
}

.hero-heading h1 {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    padding-bottom: 15px;
}

.hero-heading p {
    font-size: 11px;
    font-weight: 400;
    color: #000000;
    width: 245px;
    height: 54px;
}

.start-btn {
    text-align: end;
}

.start-btn button {
    width: 59px;
    height: 27px;
    background-color: #0E9EE7;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
}

/* Plus popup */

.plus-popup {
    display: none;
    position: absolute;
    width: 380px;
    height: 400px;
    background-color: #fff;
    border: 1px solid #0E9EE7;
    padding: 20px 10px;
    border-radius: 10px;
    top: 40%;
    z-index: 100;
}

.popup-line {
    width: 100%;
    height: 1px;
    background-color: #000;
    opacity: 10%;
    margin: 10px 0px;
}

.plus-popup h2 {
    font-size: 16px;
}

.title {
    width: 343px;
    height: 56px;
    border: 1px solid #E3E3E366;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    margin: 10px 0px;
}

.description {
    font-family: 'Inter';
    width: 343px;
    height: 174px;
    border-radius: 10px;
    border: 1px solid #E3E3E366;
    outline: none;
    padding: 10px;
    resize: none;
    margin: 10px 0px;
}

.add-button {
    display: flex;
    gap: 10px;
}

.Cancel-btn {
    width: 166px;
    height: 50px;
    border: 1px solid #E3E3E366;
    border-radius: 10px;
    background-color: #fff;
}

.Cancel-btn:hover {
    background-color: #0E9EE7;
    color: #fff;
    transition: .3s;
    cursor: pointer;
}

.add-btn {
    width: 166px;
    height: 50px;
    border: none;
    color: #fff;
    border-radius: 10px;
    background-color: #0E9EE7;
    cursor: pointer;
}

/* pending dots popup */

.dots {
    position: relative;
}

.dots-popup {
    display: none;
    position: absolute;
    width: 76px;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    left: 60%;
    padding: 5px;
    top: 90%;
    z-index: 10;
}

.dots-popup p {
    font-size: 10px;
    font-weight: 400;
    color: #09182B;
    cursor: pointer;
    padding: 5px;
}