* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter';
}

.container {
    display: flex;
}

.menu-btn {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

.toggleMenuBtn {
    width: 30px;
    height: 26px;
    cursor: pointer;
}

.heading h1 {
    font-size: 30px;
    font-weight: 600;
    color: #09182B;
}

.line {
    width: 1100px;
    height: 1px;
    background-color: #000000;
    opacity: 30%;
}

.heading-section {
    display: flex;
    padding: 20px;
    gap: 20px;
}


.heading-name {
    display: flex;
    align-items: center;
    position: relative;
    gap: 10px;
    cursor: pointer;
}

.heading-name::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #0E9EE7;
    bottom: -10px;
    transition: .3s ease;
}

.heading-name.Active::before {
    width: 100%;
}

.heading-name.Active h1 {
    color: #0E9EE7;
    font-weight: 600;
}

.heading-name img {
    width: 30px;
    height: 30px;
}

.heading-name h1 {
    font-size: 20px;
    font-weight: 400;
    color: #000000;
}

.card-section {
    width: 1080px;
    height: 724px;
    background-color: rgba(248, 248, 248, 0.15);
    padding: 20px;
    margin: 20px 10px;
    border-radius: 20px;
}

.box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    width: 1032px;
    height: 69px;
    background-color: #EAEAEA;
    border-radius: 8px;
    padding: 20px;
}

.white-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    width: 1032px;
    height: 69px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin: 10px 0px;
}

.gray-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    width: 1032px;
    height: 69px;
    background-color: rgba(234, 234, 234, 0.5);
    border-radius: 8px;
    padding: 20px;
    margin: 15px 0px;
}

.card-section h1 {
    font-size: 16px;
    font-weight: bold;
    color: #09182B;
}

.card-section p {
    font-size: 15px;
    font-weight: 500;
    color: #09182B;
}

/* Meeting section */

.hidden {
    display: none;
}

.meeting-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr 1fr 1.5fr .7fr;
    align-items: center;
    width: 1032px;
    height: 69px;
    background-color: #EAEAEA;
    border-radius: 8px;
    padding: 20px;
}

.white-meetingBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr 1fr 1.5fr .7fr;
    align-items: center;
    width: 1032px;
    height: 69px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin: 10px 0px;
}

.gray-meetingBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr 1fr 1.5fr .7fr;
    align-items: center;
    width: 1032px;
    height: 69px;
    background-color: rgba(234, 234, 234, 0.5);
    border-radius: 8px;
    padding: 20px;
    margin: 15px 0px;
}

/* Event Section */

.event-box {
    display: grid;
    grid-template-columns: 1fr 1.2fr 1.5fr 1fr;
    align-items: center;
    width: 1032px;
    height: 69px;
    background-color: #EAEAEA;
    border-radius: 8px;
    padding: 20px;
}

.white-eventBox {
    display: grid;
    grid-template-columns: 1fr 1.2fr 1.5fr 1fr;
    align-items: center;
    width: 1032px;
    height: 69px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin: 10px 0px;
}

.gray-eventBox {
    display: grid;
    grid-template-columns: 1fr 1.2fr 1.5fr 1fr;
    align-items: center;
    width: 1032px;
    height: 69px;
    background-color: rgba(234, 234, 234, 0.5);
    border-radius: 8px;
    padding: 20px;
    margin: 15px 0px;
}

.next-page {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    height: 16vh;
    gap: 10px;
    padding: 20px;
}

.next-page i {
    font-size: 20px;
    margin-bottom: 6px;
    cursor: pointer;
}

.next-page button {
    width: 31px;
    height: 31px;
    border: 1px solid rgba(224, 224, 224, 0.4);
    border-radius: 8px;
    background-color: rgba(224, 224, 224, 0.4);
    cursor: pointer;
}
.next-page button:hover {
    background-color: #0E9EE7;
    color: #fff;
    transition: .3s ease;
}