* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter';
}

.container {
    display: flex;
}

.menu-btn {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

.toggleMenuBtn {
    width: 30px;
    height: 26px;
    cursor: pointer;
}

.heading h1 {
    font-size: 30px;
    font-weight: 600;
    color: #09182B;
}

.line {
    width: 1100px;
    height: 1px;
    background-color: #000000;
    opacity: 30%;
}

.employee-image {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.employee-image img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.employee-name h1 {
    font-size: 20px;
    font-weight: 600;
    color: #000;
}

.employee-name p {
    font-size: 15px;
    font-weight: 500;
    color: #000;
}

.feedback-card {
    width: 1067px;
    height: 659px;
    border-radius: 18px;
    background-color: rgba(248, 248, 248, 0.15);
    padding: 20px;
    margin: 20px;
}

.feedback-card h1 {
    font-size: 34px;
    font-weight: 500;
    color: #1D1D1D;
}

.feedback-box {
    width: 978px;
    height: 496px;
    background-color: #fff;
    border: 1px solid #F5F5F5;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

.feedback-box h2 {
    font-size: 20px;
    font-weight: 600;
    padding: 10px 2px;
    color: #09182B;
}

.feedback-box p {
    font-size: 20px;
    font-weight: 300;
    color: #09182B;
    width: 779px;
    padding: 0px 0px 40px 0px;
}
.feedback-box h3 {
    font-size: 20px;
    font-weight: 300;
    color: #09182B;
}