* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter';
}

.container {
    display: flex;
}

.menu-btn {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

.toggleMenuBtn {
    width: 30px;
    height: 26px;
    cursor: pointer;
}

.heading h1 {
    font-size: 30px;
    font-weight: 600;
    color: #09182B;
}

.line {
    width: 1110px;
    height: 1px;
    background-color: #000000;
    opacity: 30%;
}

.team-performance {
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.performance-btn button {
    width: 180px;
    height: 50px;
    background-color: #0E9EE7;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 300;
    cursor: pointer;
}

.assign-btn {
    position: relative;
}

.assign-view {
    width: 124px;
    height: 50px;
    background-color: #0E9EE7;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    margin: 0px 5px;
}

.export {
    width: 124px;
    height: 50px;
    background-color: #0E9EE7;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    padding-left: 20px;
}

.assign-btn img {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 59%;
    top: 20%;
    pointer-events: none;
}

.card-section {
    width: 1080px;
    height: 724px;
    background-color: rgba(227, 227, 227, 0.15);
    padding: 20px;
    border-radius: 20px;
    margin: 15px;
}

.box {
    display: grid;
    grid-template-columns: .7fr 1fr 1.5fr 1.2fr .8fr .8fr .8fr .5fr;
    align-items: center;
    padding: 0px 20px;
    width: 1032px;
    height: 69px;
    background-color: #EAEAEA;
    border-radius: 8px;
}

.box h1 {
    font-size: 16px;
    font-weight: bold;
    color: #09182B;
}

.card-section p {
    font-size: 15px;
    font-weight: 500;
    color: #09182B;
}

.white-box {
    display: grid;
    grid-template-columns: .7fr 1fr 1.5fr 1.2fr .8fr .8fr .8fr .5fr;
    align-items: center;
    padding: 0px 20px;
    width: 1032px;
    height: 69px;
    background-color: #fff;
    margin: 10px 0px;
    border-radius: 8px;
}

.gray-box {
    display: grid;
    grid-template-columns: .7fr 1fr 1.5fr 1.2fr .8fr .8fr .8fr .5fr;
    align-items: center;
    padding: 0px 20px;
    width: 1032px;
    height: 69px;
    background-color: rgba(234, 234, 234, 0.5);
    margin: 10px 0px;
    border-radius: 8px;
}

.card-section input {
    width: 21px;
    height: 21px;
    accent-color: #007BFF;
    cursor: pointer;
}

.box-section input {
    width: 21px;
    height: 21px;
    accent-color: #007BFF;
    cursor: pointer;
}

.more {
    display: flex;
    position: relative;
    gap: 5px;
}

.more h4 {
    font-size: 15px;
    font-weight: 500;
    color: #0E9EE7;
    cursor: pointer;
    user-select: none;
}

.more-popup {
    display: none;
    position: absolute;
    width: 492px;
    height: 280px;
    background-color: #fff;
    border-radius: 12px;
    border: 1px solid #0E9EE7;
    padding: 30px 20px;
    z-index: 100;
}

.more-popup h2 {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    padding: 10px 0px;
}

.more-popup p {
    width: 436px;
    font-size: 24px;
    font-weight: 300;
    color: #09182B;
    line-height: 1.1;
}

.popup-cancel {
    padding: 20px;
    text-align: end;
    margin-top: 10px;
}

.backBtn {
    width: 166px;
    height: 50px;
    border: none;
    background-color: #0E9EE7;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.assign-by img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.priority {
    display: flex;
    align-items: center;
    gap: 5px;
}

.priority img {
    width: 13px;
    height: 19px;
}

.complete,
.progress,
.pending {
    width: 100px;
    height: 28px;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    padding: 5px;
    font-size: 15px;
    font-weight: 500;
}

.complete {
    background-color: #00B172;
}

.progress {
    background-color: #0E9EE7;
}

.pending {
    background-color: #09182B;
}


.dot {
    position: relative;
    margin-left: 20px;
    user-select: none;
    width: 10px;
}

.dot h3 {
    font-size: 20px;
    cursor: pointer;
}

.drop-down {
    display: none;
    position: absolute;
    width: 90px;
    height: auto;
    background-color: #FFFFFF;
    border: 1px solid rgba(162, 161, 168, 0.2);
    border-radius: 8px;
    z-index: 100;
}


.edit-btn {
    padding: 8px 0px;
    cursor: pointer;
}

.edit-btn img {
    width: 14px;
    height: 14px;
}

.edit-btn li {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    margin-left: 20px;
    list-style: none;
    font-weight: 500;
    color: #09182B;
    padding: 5px 0px;
}

.next-page {
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 20px;
    height: 14vh;
    gap: 10px;
}

.next-page i {
    font-size: 20px;
    cursor: pointer;
    padding-bottom: 5px;
}

.next-page button {
    width: 31px;
    height: 31px;
    border-radius: 8px;
    background-color: rgba(224, 224, 224, 0.4);
    border: 1px solid rgba(224, 224, 224, 0.4);
}

.next-page button:hover {
    background-color: #0E9EE7;
    color: #fff;
    cursor: pointer;
    transition: .3s;
}

/* Edit Assign  Section */

.hidden {
    display: none;
}

.Assign-heading {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 0px 10px;
}

.Assign-heading h1 {
    font-size: 30px;
    font-weight: 600;
    color: #09182B;
}

.task-card {
    width: 1080px;
    height: 760px;
    background-color: rgba(227, 227, 227, 0.15);
    border-radius: 18px;
    padding: 20px;
    margin: 15px;
}

.task-input {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 30px;
    gap: 10px;
}

.project-title {
    position: relative;
    margin: 8px 0px;
}

#arrow-down {
    position: absolute;
    font-size: 20px;
    left: 64%;
    top: 60%;
    pointer-events: none;
    color: #0D062D;
}

#down-arrow {
    position: absolute;
    font-size: 20px;
    left: 48%;
    top: 60%;
    pointer-events: none;
    color: #0D062D;
}

.task-card label {
    display: block;
    font-size: 21px;
    font-weight: 600;
    padding: 10px 5px;
    color: #0D062D;
}

.title {
    width: 423px;
    height: 74px;
    border-radius: 11px;
    background-color: #fff;
    border: 1px solid rgba(162, 161, 168, 0.2);
    outline: none;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    color: #000;
}

.Deadline {
    width: 489px;
    height: 75px;
    border-radius: 11px;
    background-color: #fff;
    border: 1px solid rgba(162, 161, 168, 0.2);
    outline: none;
    padding: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #333333;
}

.project-title textarea {
    font-family: 'Inter';
    width: 995px;
    height: 100px;
    resize: none;
    border-radius: 11px;
    background-color: #fff;
    border: 1px solid rgba(162, 161, 168, 0.2);
    outline: none;
    padding: 20px;
    font-size: 14px;
    font-weight: 300;
    color: #333333;
}

.custom-select,
.Project-Assign {
    width: 305px;
    height: 76px;
    border-radius: 11px;
    background-color: #fff;
    border: 1px solid rgba(162, 161, 168, 0.2);
    outline: none;
    padding: 20px;
    font-size: 18px;
    font-weight: 300;
    color: #333333;
    appearance: none;
}

.link {
    width: 285px;
    height: 71px;
    border-radius: 11px;
    background-color: #fff;
    border: 1px solid rgba(162, 161, 168, 0.2);
    outline: none;
    padding: 20px;
    font-size: 14px;
    font-weight: 300;
    color: #333333;
}

.Assign-section {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    padding: 0px 30px;
}

.notification-center {
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    align-items: center;
    padding: 20px 30px;
}

.file {
    width: 169px;
    height: 44px;
    border-radius: 5px;
    border: 1px dashed rgba(162, 161, 168, 0.2);
    text-align: center;
    padding: 12px;
    font-size: 17px;
    font-weight: 500;
    color: #333333;
}

.notification p {
    font-size: 17px;
    font-weight: 500;
    color: #787486;
    padding-top: 10px;
    padding-left: 5px;
}

.save-btn {
    display: flex;
    justify-content: end;
    padding: 20px;
    gap: 10px;
}

.SaveBtn {
    width: 93px;
    height: 50px;
    background-color: #0E9EE7;
    color: #fff;
    border-radius: 13px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.Cancel-btn {
    width: 109px;
    height: 50px;
    background-color: #fff;
    border-radius: 13px;
    border: 1px solid rgba(162, 161, 168, 0.2);
    font-size: 16px;
    font-weight: 500;
}

.Cancel-btn:hover {
    background-color: #0E9EE7;
    color: #fff;
    transition: .3s;
    cursor: pointer;
}

/* Assign View */

.arrow i {
    width: 34px;
    height: 30px;
    background-color: #0E9EE7;
    color: #fff;
    font-size: 20px;
    border-radius: 8px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
} 

.box-section {
    width: 1080px;
    height: 724px;
    background-color: rgba(227, 227, 227, 0.15);
    padding: 20px;
    border-radius: 20px;
    margin: 40px 15px;
}

/* Check Performance Section */

.view-report{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.view{
   width: 177px;
   height: 54px;
   border-radius: 8px;
   background-color: #0E9EE7;
   color: #fff;
   border: none;
   font-size: 18px;
   font-weight: bold;
   cursor: pointer; 
}

.report-card{
    width: 1080px;
    height: 813px;
    background-color: rgba(227, 227, 227, 0.15);
    margin: 15px;
    border-radius: 20px;
    padding: 20px;
}

.report-box{
    width: 1050px;
    height: 95px;
    background-color: rgba(162, 161, 168, 0.07);
    border-radius: 19px;
    padding: 20px 30px;
    margin: 10px 0px;

}

.report-name h1{
   font-size: 13px;
   font-weight: bold;
   color: #000000;
}

.report-check{
    display: flex;
    align-items: center;
    padding: 5px 0px;
    gap: 10px;
}

.report-check p{
    font-size: 12px;
    font-weight: 400;
}

.report-check p span{
   font-weight: bold;
}

.complete-priority{
    width: 89px;
    height: 23px;
    background-color: #00B172;
    color: #fff;
    border-radius: 20px;
    text-align: center;
    padding: 3px;
    font-size: 12px;
    font-weight: 600;
}

.generate-container{
    display: flex;
    justify-content: space-between;
}

.low-priority{
    width: 92px;
    height: 23px;
    background-color: #0E9EE7;
    color: #fff;
    text-align: center;
    padding: 3px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 600;
}

.high-priority{
    width: 92px;
    height: 23px;
    background-color: #EB0016;
    color: #fff;
    text-align: center;
    padding: 3px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 600;
}

.generate-button{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: -8px;
}

.generate-button img{
   width: 38px;
   height: 38px;
   border-radius: 50%;
   margin-left: 12px;
}


.reportbtn{
  width: 150px;
  height: 36px;
  background-color: #0E9EE7;
  color: #fff;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.timer{
  width: 154px;
  height: 36px;
  background-color: #fff;
  color: #0E9EE7;
  border-radius: 6px;
  border: 1px solid #fff;
  font-size: 15px;
  font-weight: 500;
}


/* Edit Generate Report */

.generate-card{
    width: 1080px;
    height: 814px;
    background-color: rgba(227, 227, 227, 0.15);
    border-radius: 18px;
    padding: 20px;
    margin: 15px;
}

.generate-btn{
    display: flex;
    justify-content: end;
    padding: 10px 20px;
}

.Generatebtn{
    width: 137px;
    height: 55px;
    background-color: #0E9EE7;
    color: #fff;
    border-radius: 12px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.generate-card label {
    display: block;
    font-size: 21px;
    font-weight: 600;
    padding: 10px 5px;
    color: #0D062D;
}

.genarate-section {
    display: grid;
    grid-template-columns: 1fr 1fr .8fr;
    padding: 0px 30px;
}

.generate-select,
.generate-Assign {
    width: 300px;
    height: 82px;
    border-radius: 11px;
    background-color: #fff;
    border: 1px solid rgba(162, 161, 168, 0.2);
    outline: none;
    padding: 20px;
    font-size: 18px;
    font-weight: 300;
    color: #333333;
    appearance: none;
}

.generate-link{
    width: 300px;
    height: 82px;
    border-radius: 11px;
    background-color: #fff;
    border: 1px solid rgba(162, 161, 168, 0.2);
    outline: none;
    padding: 20px;
    font-size: 14px;
    font-weight: 300;
    color: #333333;
}

