* {
    padding: 0;
    margin: 0;
}

body {
    max-width: 1400px;
    font-family: 'Inter';
}

.container {
    display: flex;
}

.menu-btn {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

.toggleMenuBtn {
    width: 30px;
    height: 26px;
    cursor: pointer;
}

.heading h1 {
    font-size: 30px;
    font-weight: 600;
    color: #09182B;
}

.line {
    width: 1100px;
    height: 1px;
    background-color: #000000;
    opacity: 30%;
}

.employee-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.employee-image {
    display: flex;
    align-items: center;
    gap: 10px;
}

.employee-image img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.employee-name h2 {
    font-size: 20px;
    font-weight: 600;
    color: #000;
}

.employee-name p {
    font-size: 15px;
    font-weight: light;
    color: #000;
    padding-top: 2px;
}

.calender {
    position: relative;
}

.date-img {
    position: absolute;
    left: 42%;
    top: 14%;
    cursor: pointer;
}

.check-img {
    position: absolute;
    width: 33px;
    height: 33px;
    left: 56%;
    top: 11%;
    pointer-events: none;
}

#date {
    width: 245px;
    height: 50px;
    background-color: #ffff;
    border: 1px solid #BAB9BE;
    outline: none;
    padding: 10px 20px;
    border-radius: 8px;
    margin: 0px 5px;
    color: #BAB9BE;
}

.check-button {
    width: 236px;
    height: 50px;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    background-color: #0E9EE7;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    padding-left: 20px;
}

.info-box {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
    gap: 10px;
}

.detail-box {
    width: 249px;
    height: 104px;
    background-color: #F8F8F8;
    border-radius: 13px;
    padding: 20px;
}

.detail-box h1 {
    font-size: 21px;
    font-weight: 600;
    color: #09182B;
}

.detail-box p {
    font-size: 19px;
    font-weight: 300;
    color: #09182B;
    padding-top: 10px;
}

.box-section {
    width: 1080px;
    height: 563px;
    background-color: rgba(227, 227, 227, 0.15);
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
}

.box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr .8fr 1fr .9fr .7fr;
    align-items: center;
    padding: 0px 20px;
    width: 1032px;
    height: 70px;
    border-radius: 8px;
    background-color: #EAEAEA;
}

.box h1 {
    font-size: 16px;
    font-weight: bold;
    color: #09182B;
}

.white-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr .8fr 1fr .9fr .7fr;
    align-items: center;
    padding: 0px 20px;
    width: 1032px;
    height: 70px;
    border-radius: 8px;
    background-color: #ffffff;
    margin: 15px 0px;
}
.gray-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr .8fr 1fr .9fr .7fr;
    align-items: center;
    padding: 0px 20px;
    width: 1032px;
    height: 70px;
    border-radius: 8px;
    background-color: rgba(234, 234, 234, 0.5);;
    margin: 15px 0px;
}

.box-section p{
    font-size: 15px;
    font-weight: 500;
    color: #09182B;
}

.on-time{
    width: 97px;
    height: 25px;
    background-color: #00B172;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    padding: 4px;
    font-size: 13px;
    font-weight: 600;
}

.late{
    width: 97px;
    height: 25px;
    background-color: #EB0016;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    padding: 4px;
    font-size: 13px;
    font-weight: 600;
}

.next-page{
   display: flex;
   justify-content: end;
   align-items: end;
   gap: 10px;
   padding: 20px;
   height: 22vh;
}
.next-page i{
  font-size: 20px;
  cursor: pointer;
  padding-bottom: 5px;
}

.next-page button{
    width: 31px;
    height: 31px;
    border-radius: 8px;
    border: none;
}
.next-page button:hover{
    background-color: #0E9EE7;
    color: #fff;
    cursor: pointer;
    transition: .5s;
}