* {
    padding: 0;
    margin: 0;
}

body {
    max-width: 1400px;
    font-family: 'Inter';
}

.container {
    display: flex;
}

.menu-btn {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

.toggleMenuBtn {
    width: 30px;
    height: 26px;
    cursor: pointer;
}

.heading h1 {
    font-size: 30px;
    font-weight: 600;
    color: #09182B;
}

.line {
    width: 1100px;
    height: 1px;
    background-color: #000000;
    opacity: 30%;
}

.payroll-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.pay-image {
    display: flex;
    gap: 20px;
}

.pay-image img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.pay-name h1 {
    font-size: 18px;
    font-weight: 600;
    padding: 10px 0px 5px 5px;
    color: #09182B;
}

.pay-name h1 span {
    padding: 5px;
    font-size: 14px;
    font-weight: 600;
    color: #3FC28A;
}

.pay-name p {
    font-size: 16px;
    font-weight: 400;
    color: #09182B;
    padding: 6px 0px;
}

.brefcase {
    display: flex;
    align-items: center;
    gap: 5px;
}

.brefcase img {
    width: 24px;
    height: 24px;
}

.download-btn{
    position: relative;
    margin-top: 30px;
}

.download-btn button {
    width: 156px;
    height: 50px;
    background-color: #0E9EE7;
    color: #fff;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding-left: 25px;
}

.download-btn img {
    position: absolute;
    width: 22px;
    height: 22px;
    left: 14%;
    top: 18%;
    pointer-events: none;
}

.slip-section {
    width: 1058px;
    height: auto;
    border-radius: 20px;
    background-color: rgba(227, 227, 227, 0.15);
    margin: 10px;
    padding: 20px;
}

.slip-input {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.field {
    width: calc(50% - 10px);
    display: flex;
    flex-direction: column;
}

.field label {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin-bottom: 5px;
    margin-left: 5px;
}

.field input {
    width: 100%;
    height: 56px;
    outline: none;
    background-color: #fff;
    outline: none;
    border: 1px solid rgba(162, 161, 168, 0.8);
    color: rgba(162, 161, 168, 0.8);
    padding: 20px;
    border-radius: 12px;
}
