* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter';
}

/* Sidebar menu */
.menu {
    width: 240px;
    background-color: #0B1B2B;
    height: 1029px;
    padding-left: 10px;
    padding-bottom: 20px;
    transition: width 0.3s ease;
}

/* Collapsed Menu */
.menu.closed {
    display: flex;
    flex-direction: column;
    width: 80px;
}

.menu.closed .menu-item {
    margin-left: 10px;
    width: 60%;
}

/* Logo */
.menu-size {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 176px;
    height: 110px;
    transition: 0.3s;
}

.logo {
    width: 100%;
    margin-top: -20px;
}



.menu ul li {
    list-style: none;
}

.menu ul li a {
    font-size: 14px;
    font-weight: 500;
    color: #FFF;
    text-decoration: none;

}

/* Menu items */
.menu-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0px;
    transition: 0.3s;
}

.menu-item:hover {
    background-color: #0E9EE7;
    cursor: pointer;
    width: 95%;
}

.menu-item.active {
    background-color: #0E9EE7;
    border-radius: 10px;
    width: 95%;
}

.menu-item img {
    width: 21px;
    height: 21px;
    color: white;
}


/* Hide text when menu closed */
.menu.closed .user-name,
.menu.closed ul li a {
    display: none;
}

.menu.closed .user-image {
    display: none;
}

/* Button */
.button {
    position: relative;
    display: flex;
    align-items: end;
    height: 130vh;
    padding: 0 20px;
    transition: 0.3s;
}

.button button {
    width: 180px;
    height: 40px;
    background-color: #0E9EE7;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    padding-right: 40px;
    transition: 0.3s;
}

.button button:hover {
    background-color: #00aaffcc;
    cursor: pointer;
}

.button img {
    position: absolute;
    width: 21px;
    height: 18px;
    left: 35px;
    bottom: 11px;
    pointer-events: none;
}

/* Button hidden in collapsed menu */
.menu.closed .button button {
    display: none;
}

.menu.closed .button {
    left: 10px;
    height: 80vh;
}

.menu.closed .button img {
    left: 1px;
}



